.logorsu{
    height:64px !important;
    width:54px !important;
}
.navbar-brand{
	color:#fff !important;
	font-size:30px !important
}
.colortext{
	font-size:30px !important
}
.colortext a{
	color:#fff !important;
	font-size:20px !important
}
body {
	background-image:url("https://cdn.rusticadelivery.com/images/sliders/8-sl-1598749080.jpg");
	

background-position: center center;

background-repeat: no-repeat;

background-attachment: fixed;

background-size: cover;
}
.bagr{
	background-color: transparent;
	color: #fff;
}